// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$bootstrap-sass-asset-helper: false !default;
//
// Variables
// --------------------------------------------------


//Use Colors
$theme-color: #FBFBFB;
$primary-color: #0C5D69;
$secondary-color:#FD7468;
$title-color: #0C5D69;
$title-color2: #052A50;
$text-color: #646464;
$white-color: #F6F6F6;
$sectionbg1: #FBFBFB;
$sectionbg2: rgba(9, 33, 189, 0.04);
$sectionbg3: #F5F5F5;
$sectionbg4: rgba(253, 116, 104, 0.051);

// extra
$border-color: #1d253b;
$shadow-sm: #1d253b;
$ash-color: #f9fafb;
$body-color: #03062f;
$black-color:#050505;
$success-color:#00b460;
$warning-color: #ffc107;
$danger-color: #dc3545;
// social-media color
$facebook: #3b5998;
$twitter: #55acee;
$linkedin: #007bb5;
$skype: #2fb7df;
$youtube: #cd201f;
$google: #dd4b39;
$camera: #e4405f;
$instagram: #e4405f;
$tumblr: #34465d;
$behance: #1769ff;
$star: #e9ba17;
$green: #0be881;
$green-h: #0fbcf9;
$red: #f53b57;
$yellow: #dec32b;
$nell: #212fb4;
$navy: #d8e0f3;
$placeholder: #a0a6bc;

//== Typography

// font-family

$text-font: 'Source Sans Pro',
sans-serif;

$title-font: 'Inter',
sans-serif;



// font-size

$fs-base: 16px !default;
$fs-h1: 56px;
$fs-h2: 48px;
$fs-h3: 40px;
$fs-h4: 24px;
$fs-h5: 20px;
$fs-h6: 18px;



//  transition
$transition: all 0.3s ease;

//shadow variables
$shadow1 : 0px 10px 26px 0px #62809C33;
$shadow2 : 0px 10px 16px 0px #62809C33;