// 1d1e1f

$white-color: #fff;
$primery-color: #4D69FD;
$text-color: rgb(177, 173, 173);
$pcolor: #6f72a6;
$bg-color:#04113c;
$sub-bg: #02041a;
$theme-color: #555ffd;
$secondary-color: #1BADFC;
$body-color:#03062f;
$dark-shadow: 0px 10px 40px -4px rgba(0, 0, 0, .1);
$mobile-xs-screen: 480px;
$tablet-sm-screen: 767px;
$desk-md-screen: 991px;
$desk-ms-screen: 1199px;
$desk-lg-screen: 1200px;
$overlay-bg:rgba(0, 0, 0, 0.388);
$black-color:#000;
$border-color:grey;


//font family 
$title-font: 'Prompt',
sans-serif;
$text-font:'Prompt',
sans-serif;